* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gochi Hand', cursive;
    font-family: 'Patrick Hand', cursive;
}

@font-face {
    font-family: 'patrick_handregular';
    src: url('patrickhand-regular-webfont.woff2') format('woff2'), url('patrickhand-regular-webfont.woff') format('woff');
    font-weight: bold;
}


/*======================================== Start Scrollbar ================================*/


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(29, 29, 29);
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 14px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 38, 82);
}


/*======================================== End Scrollbar ================================*/


/*========================================= My Classes ===================================*/

.text-center {
    text-align: center;
}


/*========================================= My Styles ===================================*/

body {
    height: auto;
    z-index: 1;
    background: rgb(0, 0, 0) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*============================================ Start Navbar ==============================================*/

.nav-bar {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(29, 29, 29);
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-bar img {
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .nav-bar img {
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 768px) {
    .nav-bar img {
        width: 100px;
        height: 30px;
    }
}

@media (min-width: 992px) {}


/*============================================ End Navbar ==============================================*/


/*============================================ Start Sidebar ==============================================*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.41s;
    padding-top: 70px;
}

.sidebar a {
    padding: 2px 2px 2px 22px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .closebtn .x-close {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-top: 30px;
}

.sidebar .photos a {
    text-align: center;
    margin-top: 20%;
}

.sidebar .photos a img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.sidebar .photos a:hover {
    background-color: crimson;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo-ask {
    width: 300px;
    height: 66px;
    cursor: pointer;
}

.openbtn {
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 1%;
    left: 2%;
    color: crimson;
    padding: 5px 10px;
    border: none;
}

.openbtn:hover {
    background-color: crimson;
    color: black;
    border-radius: 20%;
}

#main {
    z-index: 1;
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar span {
    margin-top: 380px;
    margin-left: 70px;
    color: rgb(43, 43, 43);
    font-weight: bold;
}

@media (max-width: 767px) {
    .openbtn {
        font-size: 20px;
    }
    .sidebar .closebtn .x-close {
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin-top: 30px;
    }
    .sidebar .photos a img {
        height: 30px;
        width: 30px;
    }
    .sidebar .photos a {
        text-align: center;
        margin-top: 20%;
    }
}

@media (min-width: 768px) {
    .openbtn {
        font-size: 22px;
    }
    .sidebar .closebtn .x-close {
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin-top: 30px;
    }
    .sidebar .photos a img {
        height: 37px;
        width: 37px;
    }
    .sidebar .photos a {
        text-align: center;
        margin-top: 24%;
    }
}

@media (min-width: 992px) {
    .openbtn {
        font-size: 22px;
    }
    .sidebar .closebtn .x-close {
        height: 15px;
        width: 15px;
        cursor: pointer;
        margin-top: 30px;
    }
    .sidebar .photos a img {
        height: 37px;
        width: 37px;
    }
    .sidebar .photos a {
        text-align: center;
        margin-top: 24%;
    }
}


/*============================================ End Sidebar ==============================================*/


/*======================================== Start DropDown ================================*/

.container {
    margin-right: 40px;
    position: absolute;
    top: -10px;
    right: 1.5px;
}


/* general styles */

.menu,
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    height: 20px;
}

.menu li {
    min-width: 160px;
}

.menu li a img {
    height: 20px;
    width: 20px;
}

.menu>li {
    display: block;
    float: right;
    position: relative;
}

.menu>li:first-child {
    border-radius: 5px 0 0;
}

.menu a {
    color: #808080;
    background-color: transparent;
    display: block;
    font-family: 'Lucida Console';
    font-size: 15px;
    line-height: 35px;
    padding: 0 28px;
    text-decoration: none;
    border-radius: 50px;
}


/* submenu styles */

.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}

.submenu li {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}

.menu .submenu li:hover a {
    border-radius: 10px;
    background-color: crimson;
    color: black;
    font-weight: bold;
}

.menu>li:hover .submenu,
.menu>li:focus .submenu {
    max-height: 20px;
    z-index: 10;
}

.menu>li:hover .submenu li,
.menu>li:focus .submenu li {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}


/* CSS3 delays for transition effects */

.menu li:hover .submenu li {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.submenu li {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

@media (max-width: 767px) {
    .container {
        top: -2px;
        right: -50px;
    }
    .menu li a img {
        height: 12px;
        width: 12px;
    }
}

@media (min-width: 768px) {
    .container {
        top: -8px;
        right: -40px;
    }
    .menu li a img {
        height: 17px;
        width: 17px;
    }
}

@media (min-width: 992px) {}


/*======================================== Start Section Creation ================================*/

.section-creation {
    height: 160px;
    width: 640px;
    margin: 20px auto;
    border: 3px solid crimson;
    border-radius: 24px;
    background-color: rgb(29, 29, 29);
}

.section-creation .options img {
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 7px 20px 20px 10px;
    cursor: pointer;
}

.section-creation .editable {
    display: inline-block;
}

.section-creation .editable textarea {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    resize: none;
    border: 1px solid crimson;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(29, 29, 29);
    color: crimson;
}

.section-creation .editable img {
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .section-creation {
        height: 130px;
        width: 455px;
        margin: 40px auto;
    }
    .section-creation .editable textarea {
        height: 60px;
        width: 330px;
        margin-left: -40px;
    }
    .section-creation .editable img {
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) {
    .section-creation {
        height: 130px;
        width: 560px;
        margin: 37px auto;
    }
    .section-creation .editable textarea {
        height: 60px;
        width: 430px;
        margin-left: -35px;
    }
    .section-creation .editable img {
        margin-bottom: 25px;
    }
}

@media (min-width: 992px) {
    .section-creation {
        height: 160px;
        width: 640px;
        margin: 20px auto;
    }
    .section-creation .editable textarea {
        height: 90px;
        width: 500px;
        margin-left: -60px;
    }
}


/*======================================== End Section Creation ================================*/


/*======================================== Start Section Post ================================*/

.post {
    width: 640px;
    height: 200px;
    margin: 1px auto;
    border: 3px solid crimson;
    border-radius: 24px;
    background-color: rgb(29, 29, 29);
}


/*======================================== End Section Post ================================*/


/*======================================== Start Section question ================================*/

.post .question {}


/*======================================== End Section question ================================*/


/*======================================== End Section Creation ================================*/


/*======================================== End Section Info. Account ================================*/

.post .info-account img {
    width: 110px;
    height: 115px;
    float: right;
    padding: 30px;
    border-radius: 50% 50%;
}


/*======================================== Start Section Stage ================================*/

.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 27%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: url(../images/heart.png) no-repeat;
    cursor: pointer;
}

.heart-blast {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}


/*======================================== End Section Stage ================================*/